<div class="columns is-desktop">
    <div class="column">
        <a class="button is-large is-warning is-pulled-left">Refresh</a>
        <figure class="image">
          <img src="assets/img/geoLocation.png">
        </figure>
        <div class="columns is-desktop">
            <div class="column is-half">
              <figure class="image">
                  <img src="assets/img/riskTopLeft.png">
              </figure>
              <figure class="image">
                  <img src="assets/img/riskBottomLeft.png">
              </figure>
            </div>
            <div class="column is-half">
                <figure class="image">
                    <img src="assets/img/riskTopRight.png">
                </figure>
                <figure class="image">
                    <img src="assets/img/riskBottomRight.png">
                </figure>
            </div>
            </div>
          </div>
</div>
