<div class="columns is-desktop">
  <div class="column">
    <a class="button is-large is-warning is-pulled-left" (click)="refreshDomain()">Refresh</a>
    <figure class="image">
      <img src="assets/img/rWorldMap.png">
    </figure>
      <div class="columns is-desktop">
        <div class="column is-half">
          <figure class="image">
              <img src="assets/img/rTopLeft.png">
          </figure>
        </div>
        <div class="column is-half">
            <figure class="image">
                <img src="assets/img/rTopRight.png">
            </figure>
        </div>
      </div>
  </div>
</div>
