<div class="columns is-desktop">
    <div class="column">
    <a class="button is-large is-warning is-pulled-left" (click)="refreshGeneral()">Refresh</a>
    <div class="columns">
    <div class="column is-7">
        <figure class="image">
            <img src="assets/img/gGeneralTop.png">
        </figure>
        <figure class="image">
            <img src="assets/img/gGeneralBottom.png">
        </figure>
    </div>
    <div class="column is-5">
        <figure class="image">
            <img src="assets/img/gGeneralSide.png">
        </figure>
    </div>
    </div>
    </div>
</div>
