<p>
  Zac please test here.
</p>


<div class="columns is-centered">
  <div class="column is-5">
    <button type="button" (click)="onGet1()">GET test1</button>
    <p></p>
    <button type="button" (click)="onGet2()">GET test2</button>
    <p></p>
    <button type="button" (click)="onGet3()">GET test3</button>
    <p></p>
    <button type="button" (click)="onGet3()">GET test1 https</button>
    <p></p>
    <button type="button" (click)="onGet3()">GET test2 https</button>
    <p></p>
    <button type="button" (click)="onGet3()">GET test3 https</button>
    <p></p>
  </div>
</div>