<p>
  Zac please test here.
</p>


<div class="columns is-centered">
  <div class="column is-5">
    <button type="button" (click)="onGet1()">GET test1</button>
    <p></p>
    <button type="button" (click)="onGet2()">GET test2</button>
    <p></p>
    <button type="button" (click)="onGet3()">GET test3</button>
    <p></p>
    <button type="button" (click)="onGet4()">GET test1 https</button>
    <p></p>
    <button type="button" (click)="onGet5()">GET test2 https</button>
    <p></p>
    <button type="button" (click)="onGet6()">GET test3 https</button>
    <p></p>
    <button type="button" (click)="onGet7()">GET test1 no port</button>
    <p></p>
    <button type="button" (click)="onGet8()">GET test2 no port</button>
    <p></p>
    <button type="button" (click)="onGet9()">GET test3 no port</button>
    <p></p>



    <form formGroup="testForm" method="post" (ngSubmit)="onPost()">
      <div class="field">
        <input class="input" type="text" placeholder="String" formControlName="name">
      </div>
      <button class="button is-primary" type="submit" method=>
        Submit
      </button>
    </form>
</div>