<div class="columns is-centered">
  <div class="column is-5">
    <form method="POST" (ngController)="formCtrl">
      <div>
        <label>First Name</label>
        <input class="input is-warning" type="text" placeholder="First Name" ng-model="firstName">
        <label>Last Name</label>
        <p>{{firstName}}</p>
        <input class="input is-warning" type="text" placeholder="Last Name" ng-model="lastName">
        <label>Password</label>
        <input class="input is-warning" type="email" placeholder="Email" ng-model="email">
        <label>Password</label>
        <input class="input is-warning" type="password" placeholder="Password" ng-model="password">
        <input type="checkbox">  
        <label class="checkbox">Lock User</label>
      </div>
      <div>
        <a class="button is-warning" (click)="newUser(firstName, lastName, email, password)">Create User</a>
      </div>
    </form>
  </div>
</div>